::root{
	--text-white : rgba(255, 255, 255, 1);
	--text-black: rgba(37, 37, 37, 1);
	--user-select: rgba(62, 122, 235, 1);
	--wrong-ans: rgba(219, 33, 33, 1);
}


body{
	position: relative;
	width: 100vw;
	overflow-x: hidden;
	min-height: 100vh;
	background-image: linear-gradient(11.53deg, rgba(68, 160, 141, 0.86) 12.08%, rgba(97, 144, 232, 0.87) 90.38%);
}

*{
	margin: 0;
	padding: 0;
}

.gp-container{
	width: 100% !important;
	padding: 20px;
	background: rgba(248, 245, 245, 1);
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	border-radius: 10px;
	min-height: 100px;
}

.gp-container a{
	text-decoration: none;
}

.btn-container{
	height: 80px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 10px;
	width: 100%;
}

.btn-container button{
	width: 100px;
	height: 45px;
	background: transparent;
	border: 2px solid rgba(255, 255, 255, 1);
	border-radius: 5px;
	color: rgba(255, 255, 255, 1);
	font-size: 0.7rem;
}

.question-container{
	width: 100%;
	background: rgba(248, 245, 245, 1);
	padding: 20px;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	flex-direction: column;
	border-radius: 10px;
}

.container{
	margin: 0 !important;
	margin-right: 0 !important;
}

.choice-container{
	width: 100%;

}

label{
	font-size: 1rem;
}

.select-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 0 30px;
}

.select-container div{
	align-items: flex-end;
}

.answered{
	color: rgba(255, 255, 255, 1);
	font-size: 1.5rem;
}

.scoretext{
	color: #fafafa;
	font-size: 1.2rem;
}

.score{
	color: rgb(255,255,0);
	font-size: 1.5rem;
}

.dropdown-container{
	position: relative;

}

.dowpdown-btn{
	position: relative;
}

.dropdown-content{
	position: absolute;
	background: rgba(97, 144, 232, 1.0);
	padding: 10px;
	width: 15rem;
	list-style: none;
	align-items: center;
	flex-direction: column;
	border-radius: 5px;
	display: none;
	top: 100%;
	transition: all 0.3s ease;
}

.dropdown-content.toggle{
	top: 105%;
	display: flex;
	transition: all 0.3s ease;
}
.dropdown-content li{
	margin-bottom: 10px;
}
.dropdown-content a{
	text-decoration: none;
	color: rgb(255, 255, 255);
	font-size: 0.7rem;
}

.gotScore{
	width: 100%;
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	color: rgb(255, 255, 255);
}

.goHome{
	display: block;
	text-decoration: none;
	width: 70px;
	height: 40px;
	color: rgb(255, 255, 255);
	text-align: center;
	margin-top: 10px;
	padding: 5px;
	border-radius: 5px;
	
	box-shadow: 0.5px 0.5px 5px #252525;
	border: 2px solid rgba(68, 160, 141, 0.86);
	background-image: linear-gradient(to right, rgba(68, 160, 141, 0.86) 12.08%, rgba(97, 144, 232, 0.87) 90.38%);
}
.goHome h1{
	text-shadow: 2px 2px #ff0000;
}

.goHome:hover{
	color: rgba(250, 250, 250, 1.0);
	transform: translateY(-3px);
	box-shadow: 0.5px 0.5px 8px #252525;
}

input[type='checkbox']{
	appearance: none;
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    background-color: #fafafa;
    border: 1px solid rgba(0, 0, 0, 0.7);
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type='checkbox']:after{
	content: '\f00c';
	font-family: "Font Awesome 5 Free";
	font-weight: 700;
	color: #fafafa;
	font-size: 0.7rem;
	display: none;
}

input[type='checkbox']:checked{
	background-color: rgba(97, 144, 232, 0.87);

}

input[type='checkbox']:checked:after{
	display: block;
}

.wrong{
	background-color: red !important;
}

.wrong:after{
	content: '\f00d' !important;
	
}

.correct{
	background-color: green !important;
}

.addContainer{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(255, 255, 255);
}
.addContainer form{
	display: block;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 20px;
}
.questions{
	width: 100%;
	padding: 10px;
}
.qt-container{	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
.gpBtn{
	justify-content: space-around;
	display: flex;
	align-items: center;
}
.gpBtn button{
	width: 100px !important;
	height: 40px !important;
	border-radius: 5px !important;
	border: none;
	background-color: #fafafa;
	color: #252525 !important;
	box-shadow: 0.5px 0.5px 5px #252525;

}

.gpBtn button a{
	color: #252525 !important;
	font-weight: normal;
}

.create-container{
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.create-container button{
	width: 80px;
	height: 40px;
	border-radius: 5px;
	background-color: #fafafa;
	color: #252525;
	font-size: 1.1rem;
	border: none;
	box-shadow: 0.5px 0.5px 5px #252525;
}

.create-quiz-btn a{
	text-decoration: none;
	color: rgba(255, 255, 255, 1);
	font-weight: bold;
	letter-spacing: 1px;
}

.notic{
	top: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 100;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	pointer-events: none;
	opacity: 0;
}

.notic.active{
	pointer-events: all;
	opacity: 1;
}

.notic div{
	width: 50%;
	height: 150px;
	background-color: rgba(97, 144, 232, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 10px;
	padding: 10px;
	position: relative;
	bottom: 20%;
	text-align: center;
}
.cross{
	position: absolute;
	right: 10px;
	top: 10px;
	background-color: transparent;
	border: none;
	color: #fafafa;
}

.okreanswer{
	width: 70px;
	height: 30px;
	border: 2px solid  #fafafa;
	color: #fafafa;
	background-color: transparent;
	border-radius: 5px;
}
@media screen and (min-width: 720px){
	.select-container{
		padding: 0 60px;
	}
	.btn-container{
		width: 50%;
	}
	.question-container{
		width: 50%;
		transform: translateX(50%);
	}
	.addContainer form{
		width: 50%;
	}
	.gpBtn{
		width: 50%;
		transform: translateX(50%);
	}
	.btn-container button{
		font-size: 0.8rem;
	}
	.btn-container button a{
		font-weight: normal;
	}
	.dropdown-content a{
		font-size: 0.8rem;
	}
}

@media screen and (min-width: 1080px){
	.question-container{
		padding: 20px 60px;
	}
	.select-container{
		padding: 0 30%;
	}
	.btn-container button{
		font-size: 0.9rem;
	}
	.dropdown-content a{
		font-size: 0.9rem;
	}
}
}