{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
	{% include 'btn.html' %}
	
		<div class="row">
			{% for i in gp %}
			<div class="col-md-6 col-12 px-5 mb-3">
				<div class="gp-container shadow">
					{{i}}
					<a href="{% url 'questions:group' i.gp_slug %}">Try</a>
				</div>
				
			</div>
			{% endfor %}
		</div>
</div>
	
<script type="text/javascript">
	var btn = document.querySelector('#dowpdown-btn')
	var dropdown = document.querySelector('.dropdown-content')
	btn.addEventListener('click', ()=>{
		dropdown.classList.toggle('toggle')
	})
</script>		


{% endblock %}